<h1 style="text-align: center;" markdown="1">TP2: KNN filtrado de valores anomalos y estandarizacion de columnas</h1>
![](../data/icon_properati-data.png)

In [1]:
import numpy as np 
import pandas as pd

# plots
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
%pylab inline

# modules
import knn as knnlibrary

Populating the interactive namespace from numpy and matplotlib

/opt/conda/lib/python3.5/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [2]:
properties =knnlibrary.get_dataset()
properties.describe()

/opt/conda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,geonames_id,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,3.863550e+05,334976.000000,334976.000000,4.154970e+05,4.154970e+05,4.154970e+05,309478.000000,3.773720e+05,2.580050e+05,3.358800e+05,48541.000000,253418.000000,4.412500e+04
mean,3.553040e+06,-34.713500,-59.164432,3.765010e+05,3.735169e+06,2.221532e+05,278.302348,5.464535e+03,1.886115e+03,5.386186e+03,15.386004,3.022879,4.403698e+03
std,3.771644e+05,2.264589,2.369852,1.291127e+06,6.073609e+06,3.600731e+05,2102.664846,3.255710e+06,3.499881e+03,2.049472e+04,121.113099,1.616920,9.935418e+04
min,3.427208e+06,-54.833014,-122.419415,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,5.000000e-05,1.000000,1.000000,1.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,6.948895e+06,52.619706,35.202660,6.500000e+08,8.212711e+08,5.000000e+07,200000.000000,2.000000e+09,1.271027e+06,4.000000e+06,7167.000000,40.000000,1.000150e+07

In [3]:
# transformo el campo fecha
properties_caba = knnlibrary.transform_date(properties)

properties_caba.describe()

/opt/conda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,geonames_id,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,created_on_year,created_on_month,created_on_day
count,3.863550e+05,334976.000000,334976.000000,4.154970e+05,4.154970e+05,4.154970e+05,309478.000000,3.773720e+05,2.580050e+05,3.358800e+05,48541.000000,253418.000000,4.412500e+04,457560.000000,457560.000000,457560.000000
mean,3.553040e+06,-34.713500,-59.164432,3.765010e+05,3.735169e+06,2.221532e+05,278.302348,5.464535e+03,1.886115e+03,5.386186e+03,15.386004,3.022879,4.403698e+03,2016.199436,6.003613,17.225000
std,3.771644e+05,2.264589,2.369852,1.291127e+06,6.073609e+06,3.600731e+05,2102.664846,3.255710e+06,3.499881e+03,2.049472e+04,121.113099,1.616920,9.935418e+04,0.873295,3.043679,8.575388
min,3.427208e+06,-54.833014,-122.419415,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,5.000000e-05,1.000000,1.000000,1.000000e+00,2014.000000,1.000000,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.000000,4.000000,10.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.000000,6.000000,19.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,7.000000,24.000000
max,6.948895e+06,52.619706,35.202660,6.500000e+08,8.212711e+08,5.000000e+07,200000.000000,2.000000e+09,1.271027e+06,4.000000e+06,7167.000000,40.000000,1.000150e+07,2017.000000,12.000000,31.000000

In [4]:
# filtro por CABA y GBA
# queremos solo las propiedades que tienen precio y eliminamos columnas que sabemos que no son 
#redundantes y que no nos servirian para knn
# eliminamos propiedades con mas de 54 pisos
properties_caba = knnlibrary.clean_dataset(properties)

# las expensas tienen demasiados nulos por lo que voy a eliminar esa columna
properties_caba = properties_caba.drop(['expenses'], axis = 1)

properties_caba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11526 entries, 385 to 80073
Data columns (total 14 columns):
property_type              11526 non-null object
place_name                 11526 non-null object
place_with_parent_names    11526 non-null object
state_name                 11526 non-null object
lat                        10364 non-null float64
lon                        10364 non-null float64
price                      11526 non-null float64
surface_total_in_m2        11526 non-null float64
surface_covered_in_m2      11526 non-null float64
floor                      11526 non-null float64
rooms                      11526 non-null float64
created_on_year            11526 non-null int64
created_on_month           11526 non-null int64
created_on_day             11526 non-null int64
dtypes: float64(7), int64(3), object(4)
memory usage: 1.3+ MB

In [5]:
# eliminamos filas con valores nulo
properties_caba = properties_caba.dropna(how='any')
properties_caba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10364 entries, 385 to 80073
Data columns (total 14 columns):
property_type              10364 non-null object
place_name                 10364 non-null object
place_with_parent_names    10364 non-null object
state_name                 10364 non-null object
lat                        10364 non-null float64
lon                        10364 non-null float64
price                      10364 non-null float64
surface_total_in_m2        10364 non-null float64
surface_covered_in_m2      10364 non-null float64
floor                      10364 non-null float64
rooms                      10364 non-null float64
created_on_year            10364 non-null int64
created_on_month           10364 non-null int64
created_on_day             10364 non-null int64
dtypes: float64(7), int64(3), object(4)
memory usage: 1.2+ MB

In [6]:
# atributos categoricos
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
properties_caba = knnlibrary.encoder_attributes(properties_caba, encoder)

#properties_caba.tail()

/opt/conda/lib/python3.5/site-packages/sklearn/preprocessing/label.py:111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
# separamos el train de traing para validarlo luego usando un 30% de los datos
from sklearn.model_selection import train_test_split
import datetime

now = datetime.datetime.now()

X, y = properties_caba.iloc[:, properties_caba.columns != 'price'].values, properties_caba.iloc[:, properties_caba.columns == 'price'].values
X_train, X_test, y_train, y_test = \
        train_test_split(X, y, test_size=0.2, random_state=now.microsecond)
    
len(X_test), len(X_train)

(2073, 8291)

In [11]:
# a cada dato le restamos la media y lo dividimos por su desviacion standard
from sklearn.preprocessing import StandardScaler
stdsc = StandardScaler()
X_train_std = stdsc.fit_transform(X_train)
X_test_std =stdsc.fit_transform(X_test)

In [12]:
from sklearn import ensemble
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2,
          learning_rate = 0.1, loss = 'ls')

clf.fit(X_train, y_train)
clf.score(X_test,y_test)

/opt/conda/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.87375567046242553

# TEST

In [13]:
# leemos set de test
test_df = pd.read_csv('../data/test/properati_dataset_testing_noprice.csv', low_memory=False)
test_df.head()

,id,created_on,property_type,operation,place_name,place_with_parent_names,country_name,state_name,lat-lon,lat,lon,surface_total_in_m2,surface_covered_in_m2,floor,rooms,expenses,description
0,3632,2017-08-24,departamento,venta,Puerto Madero,|Argentina|Capital Federal|Puerto Madero|,Argentina,Capital Federal,"-34.6109877599,-58.3634635778",-34.610988,-58.363464,0.0,NaN,NaN,NaN,NaN,Edificio BA Houses situado frente al Dique 3 d...
1,3633,2017-08-25,departamento,venta,Buenos Aires Interior,|Argentina|Buenos Aires Interior|,Argentina,Buenos Aires Interior,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,El departamento cuenta con un living-comedor a...
2,2263404,2017-08-01,departamento,venta,Palermo Soho,|Argentina|Capital Federal|Palermo|Palermo Soho|,Argentina,Capital Federal,"-34.5893633232,-58.4128798588",-34.589363,-58.412880,53.0,48.0,NaN,NaN,1500,IMPECABLE TORRE COY III – DEPA...
3,2263405,2017-08-01,departamento,venta,Chacarita,|Argentina|Capital Federal|Chacarita|,Argentina,Capital Federal,NaN,NaN,NaN,39.0,39.0,NaN,NaN,NaN,AMBIENTE DIVISIBLE CON PISOS D...
4,2263406,2017-08-01,departamento,venta,Chacarita,|Argentina|Capital Federal|Chacarita|,Argentina,Capital Federal,NaN,NaN,NaN,51.0,51.0,NaN,NaN,NaN,LIVING COMEDOR CON PISOS DE PO...

In [14]:
# transformamos atributos categoricos
test_df['place_name'] = encoder.fit_transform(test_df[['place_name']])
test_df['state_name'] = encoder.fit_transform(test_df[['state_name']])
test_df['place_with_parent_names'] = encoder.fit_transform(test_df[['place_with_parent_names']])
test_df['property_type'] = encoder.fit_transform(test_df[['property_type']])

# tranformamos fechas
X_test_df = knnlibrary.transform_date(test_df)
X_test_df = X_test_df[['property_type', 'place_name', 'place_with_parent_names', 'state_name',
       'lat', 'lon', 'surface_total_in_m2', 'surface_covered_in_m2', 'floor',
       'rooms', 'created_on_year', 'created_on_month',
       'created_on_day']]

# completamos valores nan
from sklearn.preprocessing import Imputer
imputer_mean = Imputer(missing_values='NaN', strategy='mean', axis=0)
X_test_df['floor'] = X_test_df[['floor']].fillna(1)
X_test_df['rooms'] = X_test_df[['rooms']].fillna(1)

X_test_df["surface_total_in_m2"] = imputer_mean.fit_transform(X_test_df[["surface_total_in_m2"]])
X_test_df["surface_covered_in_m2"] = imputer_mean.fit_transform(X_test_df[["surface_covered_in_m2"]])
X_test_df["lat"] = imputer_mean.fit_transform(X_test_df[["lat"]])

X_test_df["lon"] = imputer_mean.fit_transform(X_test_df[["lon"]])

#X_test_std_df = stdsc.transform(X_test_df)

X_test_df.info()

/opt/conda/lib/python3.5/site-packages/sklearn/preprocessing/label.py:111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 13 columns):
property_type              14166 non-null int64
place_name                 14166 non-null int64
place_with_parent_names    14166 non-null int64
state_name                 14166 non-null int64
lat                        14166 non-null float64
lon                        14166 non-null float64
surface_total_in_m2        14166 non-null float64
surface_covered_in_m2      14166 non-null float64
floor                      14166 non-null float64
rooms                      14166 non-null float64
created_on_year            14166 non-null int64
created_on_month           14166 non-null int64
created_on_day             14166 non-null int64
dtypes: float64(6), int64(7)
memory usage: 1.4 MB

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
# prediccion del set de test
#knn = KNeighborsRegressor(n_neighbors=best_k, weights='distance', p=best_p)
#knn.fit(X_train_std[:, k_param], y_train)
X_test_df['prediction'] = clf.predict(X_test_df)
X_test_df.head(10)

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,property_type,place_name,place_with_parent_names,state_name,lat,lon,surface_total_in_m2,surface_covered_in_m2,floor,rooms,created_on_year,created_on_month,created_on_day,prediction
0,1,152,219,4,-34.610988,-58.363464,0.0,359.471588,1.0,1.0,2017,8,24,604971.587654
1,1,29,180,3,-34.629923,-58.465820,0.0,359.471588,1.0,1.0,2017,8,25,686706.977765
2,1,136,210,4,-34.589363,-58.412880,53.0,48.000000,1.0,1.0,2017,8,1,145533.435070
3,1,40,193,4,-34.629923,-58.465820,39.0,39.000000,1.0,1.0,2017,8,1,36797.017101
4,1,40,193,4,-34.629923,-58.465820,51.0,51.000000,1.0,1.0,2017,8,1,164745.253301
5,1,40,193,4,-34.629923,-58.465820,39.0,39.000000,1.0,1.0,2017,8,1,36797.017101
6,1,40,193,4,-34.629923,-58.465820,39.0,39.000000,1.0,1.0,2017,8,1,36797.017101
7,1,40,193,4,-34.629923,-58.465820,39.0,39.000000,1.0,1.0,2017,8,1,36797.017101
8,1,47,195,4,-34.578721,-58.457095,67.0,67.000000,1.0,1.0,2017,8,1,249284.213962
9,1,7,184,4,-34.629923,-58.465820,47.0,47.000000,1.0,1.0,2017,8,1,70162.188325

In [16]:
# guardo el file
output = pd.DataFrame( data={"id":test_df["id"], "price_usd":X_test_df['prediction']} )
output.to_csv( "../data/result/result_gb_"+str(now)+".csv", index=False, quoting=3 )